<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>
    <p></p>
      <%= f.label :イベント名 %>
      <% if @event.errors.messages[:title].any? %>
        <b><font color="red"><%= @event.errors.messages[:title][0] %></font></b>
      <% end %>
      <%= f.text_field :title, placeholder: 'enter イベント名',class: 'form-control' ,value:@event.title %>
      <p>
      <%= f.label :イベントの詳細 %>
      <% if @event.errors.messages[:note].any? %>
         <b><font color="red"><%= @event.errors.messages[:note][0] %></font></b>
      <% end %><br>
	    <%= f.text_area :note, placeholder: 'enter イベント詳細',cols:40,rows:10 %>
      </p>
      <%= f.label :開催予定日時 %><br>
      <%= f.collection_select :opendate, @dates, :id, :dateweek, :selected=>@sdate,class: 'form-control' %>
      <%= f.time_select :starttime, default: { hour:@starthour, min:@startmin } %>-
      <%= f.time_select :finishtime, default: { hour:@finishhour, min:@finishmin } %><br>
      <p>
      <%= f.label :場所 %>(Zoomの場合はZoomと記入下さい）
      <% if @event.errors.messages[:place].any? %>
        <b><font color="red"><%= @event.errors.messages[:place][0] %></font></b>
      <% end %><br>
      <%= f.text_field :place, placeholder:'enter 会場' %>
      </p>
      <%= f.label :場所リンク %>(Zoomの場合はUrlを入力願います)
      <%= f.url_field :placelink, placeholder:'enter 場所のUrl',class: 'form-control' %>
      <br>
      <p>
      <%= f.label :参加費 %><br>
      <%= f.number_field :money,value:@money %>
        <% if @event.errors.messages[:money].any? %>
          <%= @event.errors.messages[:money][0] %>
        <% end %>
      <p></p>
      <%= f.label :定員 %><br>
      <%= f.number_field :capacity,value:@capacity %>
      </p>
      <%= f.hidden_field :sendmailmethod,value:current_user.id %>
      <%= f.select :sendmailmethod, [["登録のみ", 1], ["出席者にメールを送る", 2], ["会員全員にメールを送る", 3]] %>
      <%= f.hidden_field :user_id,value:current_user.id %>
      <%= f.submit "実行", class: "btn btn-primary" %>
    <% end %>
    <p><center>
     <A HREF="javascript:history.back()">前のページに戻る</A>
    </center></p>
  </div>
</div>