<div class="kakomi-maru3">  
    <% if @event.count>0 %>
    <% url = request.url %>
    
    <% @event.each do |f| %>
      <% suu=f.participants.count %>
      <tr align="left">
      <td align="left">
      ■イベント名：<%= link_to(mojiseigen(f.title,20), event_path(f.id)) %><br>
      ■開始日時　：<%=dateweekday(f.opendate) %>(<%=weekdate(f.opendate) %>)<%=timehyouji(f.starttime) %>-<br>
      ■開催場所　：<%=mojiseigen(f.place,30) %><br>
      ■参加人数　：参加<%=suu %>名/募集<%=f.capacity %>名
      <%if Participant.find_by(user_id:current_user.id,event_id:f.id).present? %>
        参加登録済
      <% end %>
      <hr class="line">
      </td>
      </tr>
    <% end %>
    
  </div>
    <% else %>
      <div class="kakomi-maru2">対象のイベントはありません</div>
    <% end %>
