<title>イベント新規登録</title>
<h2>イベント新規登録</h2>
<div class="row">
    <%= form_for(@event) do |f| %>
    <p></p>
      <%= f.label :イベント名 %><br>
      <% if @event.errors.messages[:title].any? %>
        <b><font color="red"><%= @event.errors.messages[:title][0] %></font></b>
      <% end %>
      <%= f.text_field :title, placeholder: 'enter イベント名(必須)' ,value:@event.title %>
      <p>
      <%= f.label :イベントの詳細 %><br>
      <% if @event.errors.messages[:note].any? %>
         <b><font color="red"><%= @event.errors.messages[:note][0] %></font></b>
      <% end %>
	    <%= f.text_area :note, placeholder: 'enter イベント詳細(必須)',cols:65,rows:10 %>
      </p>
      <%= f.label :開催予定日時 %><br>
      <%= f.collection_select :opendate, @dates, :id, :dateweek, :selected=>@sdate,class: 'form-control' %>
      <%= f.time_select :starttime, default: { hour:@starthour, min:@startmin } %>-
      <%= f.time_select :finishtime, default: { hour:@finishhour, min:@finishmin } %><br>
      <p>
      <%= f.label :場所 %>(Zoomの場合はZoomと記入下さい）
      <% if @event.errors.messages[:place].any? %>
        <b><font color="red"><%= @event.errors.messages[:place][0] %></font></b>
      <% end %><br>
      <%= f.text_field :place, placeholder:'enter 会場(必須)' %>
      </p>
      <%= f.label :場所リンク %>(Zoomの場合はUrlを入力願います)<br>
      <%= f.url_field :placelink, placeholder:'enter 場所のUrl(ブランク可)',class: 'form-control' %>
      <br>
      <p>
      <%= f.label :参加費 %><br>
      <%= f.number_field :money,value:@money %>
        <% if @event.errors.messages[:money].any? %>
          <%= @event.errors.messages[:money][0] %>
        <% end %>
      <p></p>
      <%= f.label :定員 %><br>
      <%= f.number_field :capacity,value:@capacity %>
      </p>
      <%= f.hidden_field :user_id,value:current_user.id %>
      <%= f.submit "実行", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %>
    <% end %>
    <p>
     <A HREF="javascript:history.back()">前のページに戻る</A>
    </p>
  </div>
  </div>