<% provide(:title, "これから") %>
<% require "date" %>
<% now = Time.current %> 
<% deadline = now.yesterday %>
<% session[:geturl2]=@url %>
<head>
<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<title>イベント詳細</title>
<h3>イベント詳細</h3>
<% if current_user.id==@event.user_id %>
   <%= link_to "再告知・修正","/events/#{@event.id.to_s}/edit" %>
<% end %>
<% possible=@event.capacity-@event.participants.count %>
<% if @event.held==false %>
  <h4>このイベントは中止になりました</h4><br>
<% end %></p>
<% if @event.recruiting==false %>
  <p><h4><b>このイベントの募集は終了しました</b></h4></p>
<% end %>
<table>
<tr><td width="120" valign="top">■イベント名：</td><td><%= @event.title %></td></tr>
<tr><td valign="top">■開催ビル名：</td>
<td>
<% if @event.placelink.present? %>
  <%= link_to(@event.place, @event.placelink) %>
<% else %>
  <%=@event.place %>
<% end %><br>
</td></tr>
<tr valign="top"><td>■主　催　者：</td><td><%= usernamereturn(@event.user_id) %></td></tr>
<tr><td valign="top">
■開催日時　：</td><td>
<%=dateweekday(@event.opendate) %>(<%=weekdate(@event.opendate) %>)　<%=timehyouji(@event.starttime) %>-<%=timehyouji(@event.finishtime) %><br>
</td></tr>
<tr><td>
■参加費用　：</td><td><%=@event.money.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %>円<br>
</td></tr>
<tr><td  colspan="2" width="610">
■開催詳細<br><%=raw Rinku.auto_link(simple_format(@event.note, {}, wrapper_tag: "div")) %>
</td></tr>
<tr><td colspan="2">
■参加者<br>
      参加者<br>
    <% i=0 %>
    <% @sankasha.each do |s| %>
      <%= "#{usernamereturn(s.user_id)}さん　" %>
      <%= @event_id %>
      <% if current_user.id==@event.user_id and @event.money>0 %>
        <% if s.moneycollection==false %>
          <%= link_to "集金", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"1"}, {method: :post} %>
        <% else %>
          <%= link_to "集金済", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"2"}, {method: :post} %>
        <% end %>
      <% end %>
      <% if current_user.id==@event.user_id %>
        <% if s.attendance==false %>
          <%= link_to "出席", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"3"}, {method: :post} %>
        <% else %>
          <%= link_to "出席済", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"4"}, {method: :post} %>
        <% end %>
      <% end %>
    
      <br>
      <% i=i+1 %>
    <% end %>
    <%= i %>名　定員<%=@event.capacity %>名
    <% if possible>0 and @event.held==true and @event.opendate>deadline %>
      <%="残り#{possible}名参加できます" if @event.recruiting==true %>
    <% elsif possible==0 and @event.held==true and @event.opendate>deadline %>
      満席です
    <% end %>
<br><br>   
 <% nokori=@event.capacity-i %>
  <% if @event.held==true %>
    <% if @event.opendate>deadline and nokori>0 and @sanka.empty?  and @event.recruiting==true %> 
     <% title="参加する" %>
     <% kubun=1 %>
    <% elsif @event.opendate>deadline and  @sanka.present? %>
      <% title="参加取消" %>
      <% kubun=2 %>
    <% end %>
    <% if kubun.to_i>=1 %>
      <tr><td colspan="2"> 
      <%= button_to title, {controller: 'events', action: 'attendance',id:@event.id,kubun:kubun,url:@url}, {method: :post,data: { disable_with: '送信中...' }} %>
      </td></tr>
    <% end %>
  <% end %> 
</table>
<hr class="line">
■コメント投稿<br>
<%= form_tag({action: 'commentcreate', method: 'post'}) do %>
    <%= hidden_field_tag :event_id, @event.id %>
    <td><%= text_area_tag :comment,nil, placeholder: "メッセージ", class:"", size: "25x2" %><br>
    通知方法<br>
  
    <%= collection_select(:sendmail,:id,@pts,:id, :name) %>
    <br>
    <%= submit_tag "投稿", class: "btn btn-primary" %>
    <% if @event.held==true %>
    <% if @event.opendate>deadline and nokori>0 and @sanka.empty?  and @event.recruiting==true %>
      <%= submit_tag "投稿+参加登録", class: "btn btn-primary",data: { disable_with: '送信中...' } %>
    <% elsif @event.opendate>deadline and  @sanka.present? %>
      <%= submit_tag "投稿+参加取消", class: "btn btn-primary",data: { disable_with: '送信中...' } %>
    <% end %>
  <% end %>
  <% end %>
  <% if @commentcontent.present? %>
  <hr class="line">
    <% @commentcontent.each do |f| %>
      <%= usernamereturn(f.user_id) %>さん　投稿日時：<%=f.created_at.strftime("%Y-%m-%d %H:%M") %><br>
      <table>
        <tr><td width="610">
      <%=raw Rinku.auto_link(simple_format(f.content, {}, wrapper_tag: "div")) %>
      <hr class="line">
      </td></tr>
      </table>
    <% end %>
  <% end %> 
  <hr class="line">
<% if @url %>
  <%= link_to("前のページに戻る",@url) %>
<% end %><br>
</div>