<% provide(:title, "詳細") %>
<% require "date" %>
<div class="col-md-6 col-md-offset-3">
<% now = Time.current %> 
<% deadline = now.yesterday %>
<% session[:geturl2]=@url %>
<center>
<h3 class="lead">イベントの詳細<%=session[:test] %></h3>
<% if current_user.id==@event.user_id %>
    <center><%= link_to "再告知・修正","/events/#{@event.id.to_s}/edit",class: "btn btn-primary" %></center>
<% end %>
<p>
<% possible=@event.capacity-@event.participants.count %>
<% if @event.held==false %>
  <div class="kakomi-maru2">このイベントは中止になりました</div><br>
<% end %></p>
<% if @event.recruiting==false %>
  <p>このイベントの募集は終了しました</p>
<% end %>
<% if @url %>
  <%= link_to("前のページに戻る",@url) %>
  <br><br>
<% end %>
</center>
<div class="jumbotron">
  <center><div class="lead"><%= @event.title %></div></center>
  <div class="kakomi-maru3"> 
  <table border="1" class="table-bordered table-condensed table table-striped">
    <col align="left" bgcolor="#ffffeb">
    <tr><td>
      場　所：
      <% if @event.placelink.present? %>
        <%= link_to(@event.place, @event.placelink) %>
      <% else %>
        <%=@event.place %>
      <% end %>
    </td></tr>
    <tr><td>主催者：<%= usernamereturn(@event.user_id) %></td></tr>
    <tr><td><%=dateweekday(@event.opendate) %>(<%=weekdate(@event.opendate) %>)　<%=timehyouji(@event.starttime) %>-<%=timehyouji(@event.finishtime) %></td></tr>
    <tr><td><%=raw Rinku.auto_link(simple_format(@event.note, {}, wrapper_tag: "div")) %></td></tr>
    <% if @event.url.present? %>
      <tr><td>
      <% if @event.urlname.blank? %>
        <% linkname="リンク" %>
      <% else %>
        <% linkname=@event.urlname %>
      <% end %>
      <%= link_to linkname, @event.url, target: :_blank %>
      </td></tr>
    <% end %>
    <tr><td >参加費：<%=@event.money.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %>円</td></tr>
    <tr><td>
      参加者<br>
    <% i=0 %>
    <% @sankasha.each do |s| %>
      <%= "#{usernamereturn(s.user_id)}さん　" %>
      <%= @event_id %>
      <% if current_user.id==@event.user_id and @event.money>0 %>
        <% if s.moneycollection==false %>
          <%= link_to "集金", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"1"}, {method: :post} %>
        <% else %>
          <%= link_to "集金済", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"2"}, {method: :post} %>
        <% end %>
      <% end %>
      <% if current_user.id==@event.user_id %>
        <% if s.attendance==false %>
          <%= link_to "出席", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"3"}, {method: :post} %>
        <% else %>
          <%= link_to "出席済", {controller: 'events', action: 'moneycollection',id:s.id,url:@url,event_id:s.event_id,kubun:"4"}, {method: :post} %>
        <% end %>
      <% end %>
      <br>
      <% i=i+1 %>
    <% end %>
    <%= i %>名　定員<%=@event.capacity %>名　　
    <% if possible>0 and @event.held==true and @event.opendate>deadline %>
      <%="残り#{possible}名参加できます" if @event.recruiting==true %>
    <% elsif possible==0 and @event.held==true and @event.opendate>deadline %>
      満席です
    <% end %>
  </td></tr>
  <% nokori=@event.capacity-i %>
  <% if @event.held==true %>
    <% if @event.opendate>deadline and nokori>0 and @sanka.empty?  and @event.recruiting==true %> 
     <% title="参加する" %>
     <% kubun=1 %>
    <% elsif @event.opendate>deadline and  @sanka.present? %>
      <% title="参加取消" %>
      <% kubun=2 %>
    <% end %>
    <% if kubun.to_i>=1 %>
      <tr><td colspan="2"><center> 
      <%= button_to title, {controller: 'events', action: 'attendance',id:@event.id,kubun:kubun,url:@url}, {method: :post, class: "btn btn-lg",data: { disable_with: '送信中...' }} %>
      </td></tr>
    <% end %>
  <% end %>
  <tr>
  <%= form_tag({action: 'commentcreate', method: 'post'}) do %>
    <%= hidden_field_tag :event_id, @event.id %>
    <td><%= text_area_tag :comment,nil, placeholder: "メッセージ", class:"", size: "40x2" %><br>
    通知方法<br>
    <%#= f.collection_select :opendate, @dates, :id, :dateweek, :selected=>@sdate,class: 'form-control' %>
    <%#= collection_select:sendmail,@pts, :id, :name %>
     <%#= collection_select(:chrt, :id_eki, @eki, :id_eki, :name,{},{class: "form-control"}) %>
     <%#= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
    <%= collection_select(:sendmail,:id,@pts,:id, :name) %>
      <%#= select_tag 'sendmail', options_for_select({主催者にメールを送る: 1, 登録のみ: 2, 参加者全員にメールを送る: 3}, 1) %><br>
    <%= submit_tag "送信", class: "btn btn-primary" %>
  <% end %>
  <% if @commentcontent.present? %>
    <% @commentcontent.each do |f| %>
      <tr><td> 
      <%= usernamereturn(f.user_id) %>さん　投稿日時：<%=f.created_at.strftime("%Y-%m-%d %H:%M") %><br>
      <%=raw Rinku.auto_link(simple_format(f.content, {}, wrapper_tag: "div")) %>
      </td></tr>
    <% end %>
  <% end %>
  </table> 
</div>
</div>
</div>

