<h1>Events#show</h1>
<center><%= link_to 'Search', 'http://www.google.co.jp/' %>
<table border="1" class="table-bordered table-condensed table table-striped">
  <tr>
    <th>イベント名</th><th>開催日</th><th>開始時間</th><th>場所</th><th width="80">定員</th><th width="80">参加人数</th>
  </tr>

  <tr>
    <td><%= link_to(@event.title, event_path(@event.id)) %></td>
    <td><%=dateweekday(@event.opendate) %>(<%=weekdate(@event.opendate) %>)</td><td><%=timehyouji(@event.starttime) %>-<%=timehyouji(@event.finishtime) %></td><td><%=@event.place %></td><td><%=@event.capacity %></td><td>0</td>
  </tr>
</table>
</center>