<div class="col-md-6 col-md-offset-3">
<% now = Time.current %>
<h1>イベントの詳細</h1>
<% if current_user.id==@event.user_id %>
    <center><h3><%= link_to "再告知・修正","/events/#{@event.id.to_s}/edit",class: "btn btn-primary" %></h3></center>
    <% session[:geturl2]=request.referer %>
<% end %>
<p><center>
<% possible=@event.capacity-@event.participants.count %>
<% if possible>0 and @event.held==true and @event.opendate>now %>
  <div class="mybox lead"><%="残り#{possible}名参加できます" %></div>
<% elsif possible==0 and @event.held==true and @event.opendate>now %>
  <div class="mybox lead">満席です</div>
<% end %>
<% if @event.held==false %>
  <div class="kakomi-maru2">このイベントは中止になりました</div><br>
<% end %>
<% if @url %>
  <%= link_to("前のページに戻る",@url,class: "btn btn-primary") %>
<% end %>
</center></p>
<table border="1" class="table-bordered table-condensed table table-striped">
  <tr><td  width="100" class="lead">タイトル</td><td class="lead"><%= @event.title %></td></tr>
  <tr><td class="lead">主催者</td><td class="lead"><%= usernamereturn(@event.user_id) %></td></tr>
  <tr><td class="lead">開始日時</td><td class="lead"><%=dateweekday(@event.opendate) %>(<%=weekdate(@event.opendate) %>)<%=timehyouji(@event.starttime) %>-<%=timehyouji(@event.finishtime) %></td></tr>　
  <tr><td class="lead">開催場所</td>
  <td class="lead">
  <% if @event.placelink.present? %>
    <%= link_to(@event.place, @event.placelink) %>
  <% else %>
    <%=@event.place %>
  <% end %>
  </td></tr>
  <tr><td class="lead">詳細</td></td><td><%=raw Rinku.auto_link(simple_format(@event.note)) %></td></tr>
  <tr><td class="lead">参加費</td></td><td class="lead"><%=@event.money.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %>円</td></tr>
  <tr><td class="lead">定員</td></td><td class="lead"><%=@event.capacity %>名</td></tr>
  <tr><td class="lead">参加者</td></td>
  <td class="lead">
    <% i=0 %>
    <% @sankasha.each do |s| %>
      <%= "#{usernamereturn(s.user_id)}さん　" %><br>
      <% i=i+1 %>
    <% end %>
    <%= i %>名
  </td></tr>
</table>
<center>
  <% nokori=@event.capacity-i %>
  <% if @event.held==true %>
    <% if @event.opendate>now and nokori>0 and @sanka.empty? %> 
     <% title="参加" %>
     <% kubun=1 %>
    <% elsif @event.opendate>now and  @sanka.present? %>
      <% title="取消" %>
      <% kubun=2 %>
    <% end %>
    <% if kubun.to_i>=1 %>
      <%= button_to title, {controller: 'events', action: 'attendance',id:@event.id,kubun:kubun,url:@url}, {method: :post, class: "btn btn-primary"} %>
    <% end %> 
  <% end %>
</center>
<br><br><br><br>
</div>
