<h1>イベント管理システム</h1>
<div class="center jumbotron">
<% if user_signed_in? %>
  <p><%= current_user.name+"さんでログイン中です"%></p>
  <p><%= link_to "イベント一覧表", "events/index",class: "btn-flat-stripe"  %></p>
  <p><%= link_to "編集","users/edit/",class: "btn-flat-stripe" %></p>
  <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn-flat-stripe" %></p>
<% else %>
  <P><%=link_to "Facebook認証でログイン", "/users/auth/facebook" ,class: "btn btn-default btn-lg　w-40" %></P>
  <P><%=link_to "ログインはこちらから", "/users/sign_in" ,class: "btn btn-default btn-lg　w-40" %></P>
  <P><%=link_to "新規登録はこちらから", "/users/sign_up" ,class: "btn btn-default btn-lg　w-40" %></P>
<% end %>
</div>